{% extends "layout.html" %}
{% block page_title %}Welcome, {{ profile.name }}{% endblock %}

{% block logo %}
<div class="container" style="text-align: center">
    <img src="{{ url_for('static', filename='img/toollogo.jpg') }}" width="25%">
</div>
{% endblock %}

{% block body %}
{{ super() }}

{% if user != None %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card" style="width: 100%;">
                <div class="icon">
                    {% if profile['is_saved'] %}
                    <p>
                        A saved voice sample found. Still you can try out other samples under more options
                        OR set a preferred name<br><br>
                    </p>

                    <div class="row">
                        <div class="col-sm-6">
                            <audio class="out-grid1" controls
                                   src="/api/pronounce?name={{profile.name}}&email={{profile.email_id}}"></audio>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group input-group-sm">
                                <input class="text-center" disabled
                                       name="editPreferredName"
                                       placeholder="enter your preferred name"
                                       style="box-shadow: 0 0 10px rgba(0,0,0,0.1)"
                                       type="text"
                                       value="{{profile.preferred_name or ''}}">
                                <span class="input-group-btn">
                                    <a class="btn bg-transparent" onclick="editAlias()" type="button">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                </span>
                            </div>
                            <br>
                        </div>
                    </div>
                    {% else %}
                    <p id="noRecFound" style="display:block">
                        Self voice sample not detected!! Click to pronounce your name with intelligent locale detection
                        system OR record your own.
                    </p>
                    <p id="recording" style="display:none">
                        <img height="30%" src="{{ url_for('static', filename='img/recording.gif') }}" width="100%">
                    </p>
                    <div id="doneRecording" style="display:none">
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                <audio class="out-grid1" controls id="record"></audio>
                            </div>
                            <div class="col-sm-2 text-left">
                                <a onclick="forbidRecording()" type="button">
                                    <span class="fa fa-times" style="font-size:30px"></span></a>
                            </div>
                        </div>
                        <p>
                            <br>Upload if you like it. OR record again
                        </p>
                    </div>
                    {% endif %}
                </div>
                {% if not profile['is_saved'] %}
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="input-group input-group-sm">
                            <input class="text-center" disabled
                                   name="editPreferredName"
                                   placeholder="enter your preferred name"
                                   style="box-shadow: 0 0 10px rgba(0,0,0,0.1)"
                                   type="text" value="{{profile.preferred_name or ''}}">
                            <span class="input-group-btn">
                                    <a class="btn bg-transparent" onclick="editAlias()" type="button">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                </span>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                {% endif %}
                <div class="row">
                    {% if profile['is_saved'] %}
                    <br>
                    <a class="btn btn-danger btn-sm" href="{{ url_for('func_delete_saved_recording') }}"
                       name="delete_user_recording"
                       style="box-shadow: 0 0 30px rgba(0,0,0,0.2)">Delete&nbsp;&nbsp;&nbsp;
                        <span class="fa fa-trash"></span>
                    </a>
                    <!--href="{{ url_for('func_delete_saved_recording') }}"-->
                    <a class="btn btn-sm btn-outline-danger" href="/delete_user/{{profile.email_id}}"
                       name="opt_out"
                       style="box-shadow: 0 0 30px rgba(0,0,0,0.2)">Opt out
                        <span class="fa fa-sign-out"></span>
                    </a>
                    {% else %}
                    <br>
                    <div class="collapse in" id="collapseUserPlayRecord">
                        <div class="col-sm-6 text-right" id="intPlay" style="display: block">
                            <a class="btn btn-danger btn-sm" name="play_user_pronunciation"
                               onclick="playIntelligent(&quot;/api/standard/pronounce?name={{profile.name}}&quot;)"
                               style="box-shadow: 0 0 30px rgba(0,0,0,0.2)">Intelligent Play&nbsp;&nbsp;&nbsp;
                                <span class="fa fa-play"></span>
                            </a>
                        </div>
                        <div class="col-sm-6 text-right" id="uploadCustom" style="display: none">
                            <a class="btn btn-success btn-sm" name="upload_user_pronunciation"
                               onclick="saveRecording('{{profile.name}}')"
                               style="box-shadow: 0 0 30px rgba(0,0,0,0.2)">Upload&nbsp;&nbsp;&nbsp;
                                <span class="fa fa-upload"></span>
                            </a>
                        </div>
                        <div class="col-sm-6 text-left">
                            <label class="switch">
                                <input id="record_user_pronunciation1" onclick="toggleRecording(this)"
                                       style="box-shadow: 0 0 30px rgba(0,0,0,0.2)"
                                       type="checkbox">
                                <div class="slider round"></div>
                            </label>
                        </div>
                    </div>
                    <div class="collapse" id="collapseUserRecord">
                        <div class="col-sm-12 text-center">
                            <label class="switch">
                                <input id="record_user_pronunciation2" onclick="toggleRecording(this)"
                                       style="box-shadow: 0 0 30px rgba(0,0,0,0.2)"
                                       type="checkbox">
                                <div class="slider round"></div>
                            </label>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br>
    <p>
        <a aria-controls="collapseOptions" aria-expanded="false"
           data-target="#collapseOptions,#collapseUserPlayRecord,#collapseUserRecord"
           data-toggle="collapse" id="moreOptionCollapse"
           role="button">
            more options ?
        </a>
    </p>
    <br>
    <div class="collapse" id="collapseOptions">
        <form action="/save_pref/" id="saveform" method="post" name="form">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4 text-left" style="padding: 0 40px 0 40px;">
                        <label>Language/Locale</label>
                        <br>
                        <select class="form-control" id="search_locale" name="search_locale"
                                onchange="selectOnChange(this)"
                                style="box-shadow: inset 0 0 15px rgb(0 0 0 / 15%); border-width: 0.5px">
                            <option selected="selected" value="en-US">--select a locale--</option>
                            {% for code, name in lang_codes.items() %}
                            <option value='{{code}}'>{{name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-4 text-left" style="padding: 0 40px 0 40px; border-width: 0.5px">
                        <label>Gender</label>
                        <br>
                        <select class="form-control" id="search_gender" name="search_gender"
                                onchange="selectOnChange(this)"
                                style="box-shadow: inset 0 0 15px rgb(0 0 0 / 15%)">
                            <option selected="selected" value="">--select a gender--</option>
                        </select>
                    </div>
                    <div class="col-lg-4 text-left" style="padding: 0 40px 0 40px; border-width: 0.5px">
                        <label>Voice</label>
                        <br>
                        <select class="form-control" id="search_voice" name="search_voice" required
                                style="box-shadow: inset 0 0 15px rgb(0 0 0 / 15%)">
                            <option selected="selected" value="">--select a voice--</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4 text-left" style="padding: 0 40px 0 40px;">
                        <label class="form-label" for="speed">Speed</label>
                        <p class="pull-right" id="speedvalue">1.0</p>
                        <input class="form-range" id="speed" max="4" min="0.25" name="ss"
                               oninput="showSpeedVal(this.value)" step="0.04"
                               style="box-shadow: 0 0 30px rgba(0,0,0,0.5)" type="range" value="1">
                    </div>
                    <div class="col-lg-4 text-left" style="padding: 0 40px 0 40px;">
                        <label class="form-label text-left" for="pitch">Pitch</label>
                        <p class="pull-right" id="pitchvalue">0.0</p>
                        <input class="form-range" id="pitch" max="20" min="-20" name="ps"
                               oninput="showPitchVal(this.value)" step="0.05"
                               style="box-shadow: 0 0 30px rgba(0,0,0,0.5)" type="range" value="0">
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-6 text-right">
                        <a class="btn btn-danger btn-sm" onclick="playStandard('{{profile.name}}')"
                           style="box-shadow: 0 0 30px rgba(0,0,0,0.15)"
                           type="button">Play&nbsp;&nbsp;&nbsp;
                            <span class="fa fa-play"></span>
                        </a>
                    </div>
                    <div class="col-md-6 text-left">
                        <button class="btn btn-warning btn-sm" id="save" onclick="savePreference()"
                                style="box-shadow: 0 0 30px rgba(0,0,0,0.15)">Save Preference&nbsp;&nbsp;&nbsp;
                            <span class="fa fa-save"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <audio hidden id="standard"></audio>
    </div>
</div>
{% endif %}
{% endblock %}
